<link rel="stylesheet" href="/css/styles_exit_ee.css">
<link rel="stylesheet" href="/css/styles_new_ee.css">
<script src="/js/desab_send_address.js"></script>

<article>
    <h1>Registro de saida de equipamento</h1>
</article>

<div class="tabela">
    <table>
        <thead>
            <tr>
                <th scope="col">Dispositivo</th>
                <th scope="col">Patrimônio</th>
                <th scope="col">Responsavel</th>
                <th scope="col">Remetente</th>
                <th scope="col">Entrada</th>
                <th scope="col">Observação</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="borda-direita">{{quadro.dispositivo.nome}}</td>
                <td class="borda-direita">{{quadro.patrimonio_dispositivo}}</td>
                <td class="borda-direita">{{quadro.tecnico.nome}}</td>
                <td class="borda-direita">{{quadro.remetente}}</td>
                <td class="borda-direita">{{quadro.entrada}}</td>
                <td class="borda-direita">{{quadro.obs}}</td>
            </tr>
        </tbody>

        <tfoot>

        </tfoot>
    </table>
</div>

<div class="formulario">
    <form action="/att_ee" method="POST">
        <div>
            <label>Remetente: </label>
            <input type="radio" id="inspetor_radio" name="remetente-op"> PRF's
            <input type="radio" id="terceirizado_radio" name="remetente-op"> Terceirizados
            <br>
            <select name="inspetor" id="inspetor" class="remetente" disabled>
                {{#each inspetores}}
                    <option>{{nome}}</option>
                {{/each}}
            </select>
            <select name="terceirizado" id="terceirizado" class="remetente" disabled>
                {{#each terceirizados}}
                    <option>{{nome}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <label>Destinatário: </label>
            <input type="radio" id="inspetor_radio_d" name="destinatario-op"> PRF's
            <input type="radio" id="terceirizado_radio_d" name="destinatario-op"> Terceirizados
            <br>
            <select name="inspetor_d" id="inspetor_d" class="remetente" disabled>
                {{#each inspetores}}
                    <option>{{nome}}</option>
                {{/each}}
            </select>
            <select name="terceirizado_d" id="terceirizado_d" class="remetente" disabled>
                {{#each terceirizados}}
                    <option>{{nome}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <label>Data de saida: </label>
            <input type="date" id="saida" name="saida" required>
        </div>
        <div>
            <label for="obs" id="obs_l">Observações: </label>
            <textarea maxlength="99" id="obs" name="obs" cols="25" rows="5">{{quadro.obs}}</textarea>
        </div>
        <input type="submit" value="Registrar">
    </form>
</div>