<link rel="stylesheet" href="/css/styles_equip_externo.css">
<script src="/js/redirecionamentos.js"></script>

<article>
    <h1>Historico das passagens de equipamentos externos</h1>
</article>

<div class="novo_equip">

</div>

<div class="tabela">
    <table>
        <thead>
            <tr>
                <th scope="col">Dispositivo</th>
                <th scope="col">Patrimônio</th>
                <th scope="col">Responsavel</th>
                <th scope="col">Remetente</th>
                <th scope="col">Entrada</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Saida</th>
                <th scope="col">Observação</th>
            </tr>
        </thead>

        <tbody>
            {{#each quadro}}
                <tr>
                    <td class="borda-direita">{{dispositivo.nome}}</td>
                    <td class="borda-direita">{{patrimonio_dispositivo}}</td>
                    <td class="borda-direita">{{tecnico.nome}}</td>
                    <td class="borda-direita">{{recebimento.inspetore.nome}}{{recebimento.terceirizado.nome}}</td>
                    <td class="borda-direita">{{entrada}}</td>
                    <td class="borda-direita">{{despacho.inspetore.nome}}{{despacho.terceirizado.nome}}</td>
                    <td class="borda-direita">{{saida}}</td>
                    <td>{{obs}}</td>
                </tr>
            {{/each}}
        </tbody>

        <tfoot>

        </tfoot>
    </table>
</div>